* {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: Verdana, sans-serif;
    font-size: 45px;
    font-weight: 500;
}

h1 {
    color: red;
    background-color: chocolate;
    text-align: center;
}

h2 {
    text-align: center;
    color: yellowgreen;
    font-size: 30px;
}

p {
    font-size: 20px;
}

ol, ul {
    color: black;
    font-size: medium;
    display: inline-block;
    padding: 10px;
    box-sizing: border-box;
    margin: auto 10px;
    width: 300px;
    vertical-align: top;
}

.recipe-card {
    height: auto;
    width: 650px;
    border: 2px solid orange;
    margin: 10px auto;
}

.recipe-description {
    width: 340px;
    display: inline-block;
    margin: auto;
    vertical-align: top;
}

img {
    display: inline-block;
    width: 300px;
    height: auto;
    
}